blockquote {
	border-left: none;
	border-right: 2px solid theme-color( 'secondary' );
	padding-left: 0;
	padding-right: map-get( $spacers, 3 );
}

ol,
ul {
	padding-left: 0;
	padding-right: map-get( $spacers, 3 );
	
	ol,
	ul {
		padding-left: 0;
		padding-right: map-get( $spacers, 3 );
	}
}
