.footer-wrapper {
	background-color: theme-color( 'primary' );
	color: theme-color( 'light' );
	margin-top: map-get( $spacers, 2 );
	margin-bottom: map-get( $spacers, 2 );
	
	a {
		color: inherit;
	}
	
	@include media-breakpoint-up( lg ) {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.jetpack-social-navigation {
		padding: map-get( $spacers, 2 ) map-get( $spacers, 1 );
		
		ul {
			@include make-row();
			
			align-items: center;
			margin: 0;
		}
		
		li {
			@include make-col-ready();
			@include make-col( 3 );
			
			padding-top: map-get( $spacers, 1 );
			padding-bottom: map-get( $spacers, 1 );
			text-align: center;
			
			@include media-breakpoint-up( md ) {
				@include make-col( 4 );
			}
			
			@include hover-focus {
				background-color: $link-hover-color;
			}
		}
	}
}

.site-info {
	padding: map-get( $spacers, 2 ) map-get( $spacers, 1 );
	
	a {
		font-weight: bold;
	}
}

@include media-breakpoint-up( lg ) {
	.social-media {
		@include make-col-offset( 3 );
	}
}