.post-password-form {
	margin: map-get( $spacers, 2 ) 0;
	
	p {
		display: flex;
		align-items: flex-end;
	}
	
	label {
		margin: 0;
		flex: 2 0 auto;
	}
	
	input[type="submit"] {
		flex: 1 1 auto;
		width: auto;
	}
}